* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* NAVIGATION STYLE */

.nav-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-list > li {
  margin: 2rem;
  font-size: 1rem;
  list-style: none;
  font-weight: 600;
}

.card-list > li:hover {
  cursor: pointer;
  color: tomato;
}

/* HERO STYLE */

.hero-images {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 60vh;
  justify-content: center;
  margin: 50px auto;
}

.hero-images > div {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.hero-images > div:nth-child(1) {
  margin-top: 200px;
}

.hero-images > div:nth-child(2) {
  margin-top: 100px;
}

.hero-images > div:nth-child(4) {
  margin-top: 160px;
}

.hero-images > div:nth-child(3) {
  margin-top: 120px;
}

.hero-images > div:nth-child(5) {
  margin-top: 80px;
}

.hero-images > div > img {
  margin: 15px auto;
  width: 250px;
  height: auto;
  border-radius: 10px;
}

.row-one {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
}
